* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 84px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 62px;
}

.header-logo {
  width: 234px;
  height: 49px;
  margin-top: 37px;
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 66px;
  margin-top: 50px;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 58px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}

.header-list a {
  color: #262626;
  text-decoration: none;
}

.header-list li {
  list-style-type: none;
}

.header-list li:nth-child(5) {
  background-color: #4ce0d7;
  border-radius: 40px;
  padding: 9px 32px 7px;
}

.search-bar {
  width: 47px;
  height: 47px;
}
/* header + navigation */

/* section 1 */

.section-1 {
  background-image: url("./assets/main-cover-photo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 599px;
  padding-left: 57px;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: start;
  border-radius: 20px;
  margin-bottom: 73px;
}

.main-section-info p:first-child {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.23em;
  color: #fff;
  margin-bottom: 22px;
}

.main-section-info span {
  background: linear-gradient(to right, #4ce0d7 0%, #8ba9f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-section-info h1 {
  font-size: 46px;
  font-weight: 700;
  line-height: 69px;
  color: #fff;
  margin-bottom: 19px;
}

.main-section-info p:last-child {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  max-width: 494px;
}

/* section 2*/

.section-2 {
  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 87px;
  margin-bottom: 52px;
}

.section-2-header {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #262626;
  margin-bottom: 48px;
}

.all-card {
  display: flex;
  gap: 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 204px;
  padding-top: 51px;
  box-shadow: 0px 6px 6px 0px #0000000d;
}

.card-img {
  width: 103px;
  height: 103px;
  display: flex;
  justify-content: center;
}

.card-info h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #262626;
  margin-top: 20px;
  margin-bottom: 29px;
}

.topic-button {
  width: 143.81px;
  height: 35.95px;
  border: 1px solid #4ce0d7;
  border-radius: 40px;
  background-color: #4ce0d7;
  border-color: #4ce0d7;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  margin-bottom: 39px;
  cursor: pointer;
}

.topic-button:hover {
  background-color: #fff;
  color: #4ce0d7;
}

/* section 3 */

.small-container {
  padding: 0 34px;
}

.section_3 {
  background-image: url("./assets/second-cover-photo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  position: relative;
  border-radius: 20px;
  margin-bottom: 23px;
}

.section-3-topic {
  position: absolute;
  top: 23.24px;
  left: 47.27px;
  background-color: #262626;
  padding: 10px 81px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
}

.card_img h2 

.section-3-topic:hover {
  color: #f25e5e;
}

/*section 4*/

.section-4 {
  margin-bottom: 45px;
}
.section-4-info {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 30px;
}
.section-4-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 115px 0 64px;
}

.section-4-descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-4-descr .author-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 82px;
  margin-right: 18px;
}

.section-4-info img {
  width: 65.67px;
  height: 50.77px;
}

.section-4-info .author {
  width: 168px;
  height: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #bcbcbc;
  margin-right: 49px;
}

.section-4-info .date {
  width: 167px;
  height: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #bcbcbc;
}

.section-4-info .coming-soon {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.24em;
  color: #f25e5e;
}

/*section 5*/

.section-5 {
  margin-bottom: 97px;
  border-radius: 20px;
  box-shadow: 0;
  box-shadow: 0px 6px 6px 0px #0000000d;
}

.section-5-h2 {
  height: 36px;
  width: 1044px;
  margin-left: 64px;
  margin-bottom: 23px;
}

.section-5-h2 h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  color: #262626;
}

.section-5-p {
  width: 1033px;
  height: 73px;
  margin-left: 64px;
}

.section-5-p p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #262626;
}

.section-5-readmore {
  display: flex;
  gap: 11px;
  margin-left: 51px;
  margin-top: 37px;
  padding-bottom: 37px;
}

.section-5-readmore p {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.24em;
  color: #4ce0d7;
}

/*trending header */

.trending-header {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #262626;
  margin-bottom: 55px;
}

.card_content {
  padding: 0 0 42px 33px;
}

.card_content a {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* section 6 */

.section-6 {
  display: flex;
  justify-content: center;
  gap: 59px;
}

.section-6-cards {
  position: relative;
  width: 579px;
  height: 670px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 6px 6px 0px #0000000d;
}

.section-6-blog img {
  width: 579.02px;
  height: 278.09px;
  border-radius: 20px;
  margin-bottom: 23px;
}

.section-6-blog p {
  position: absolute;
  top: 20px;
  left: 34px;
  background-color: #262626;
  color: #fff;
  width: 175px;
  height: 36px;
  border-radius: 40px;
  padding: 9px 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}

.section-6-descr {
  display: flex;
  align-items: center;
  margin-left: 26px;
  margin-bottom: 28px;
}

.section-6-descr .author-image {
  margin-right: 28px;
}

.section-6-descr .author {
  width: 168px;
  height: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #bcbcbc;
  margin-right: 83px;
}

.section-6-descr .date {
  width: 167px;
  height: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #bcbcbc;
}

.section-6-topics h2 {
  height: 98px;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  margin-left: 34px;
  color: #262626;
}

.section-6-topics p {
  width: 464px;
  height: 98px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #262626;
  margin-bottom: 20px;
  margin-left: 35px;
}

.section-6-readmore {
  display: flex;
  align-items: start;
  margin-left: 22px;
}

.section-6-readmor-img {
  width: 51px;
  height: 39px;
}

.section-6-readmore p {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.24em;
  color: #4ce0d7;
}

/* section 7 */

.section-7-cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 69px;
}

.blog {
  position: relative;
  display: flex;
  max-width: 1204px;
  box-shadow: 0px 6px 6px 0px #0000000d;
  background: #ffffff;
  border-radius: 20px;
  gap: 45px;
  margin-bottom: 48px;
}

.block-left {
  width: 547.51px;
  height: 367.41px;
  cursor: pointer;
}

.block-left p:hover {
  color: #f25e5e;
}

.block-left p {
  position: absolute;
  top: 25px;
  left: 34px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  background-color: #262626;
  width: 176.44px;
  height: 36.49px;
  border-radius: 40px;
  padding: 9px 40px;
  text-align: center;
}

.block-right .block-right-author {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 35px;
}

.block-right-author img {
  margin-right: 16px;
}

.block-right-author .author {
  width: 168px;
  height: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #bcbcbc;
  margin-right: 134px;
}

.block-right-author .date {
  width: 167px;
  height: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #bcbcbc;
}

.section-7-topics h2 {
  height: 98px;
  width: 543px;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  color: #262626;
}

.section-7-topics p {
  width: 464px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 19px;
  color: #262626;
}

.section-7-readmore {
  display: flex;
  align-items: center;
}

.section-7-readmore p {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.24em;
  color: #4ce0d7;
}

.section-7-readmor-img {
  width: 51px;
  height: 39px;
  padding: 13px, 14.88px, 13px, 14.88px;
}

.footer {
  box-shadow: 6px 0px 6px 0px #0000000d;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 34px;
}

.footerLogo {
  margin-top: 87px;
}

.social-Media {
  display: flex;
  align-items: center;
  margin-top: 87px;
  gap: 21px;
}

.social-Media h2 {
  width: 100%;
}

.footerAutor {
  padding-top: 50px;
  margin-bottom: 34px;
  border-top: 1px solid black;
}

.footerAutor p {
  font-size: 14px;
  font-weight: 700px;
  line-height: 21px;
  color: #262626;
}

.card {
  width: 579px;
  margin-bottom: 88px;
  box-shadow: 0px 6px 6px 0px #0000000d;
  border-radius: 20px;
}

.card .card_img {
  position: relative;
  background-image: url("./assets/trending-photo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  height: 278px;
}


.card .card_img h2 {
  border-radius: 20px;
  background-color: #262626;
  color: white;
  width: 175px;
  padding: 9px 0;
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: 30px;
  left: 34px;
}

.card .card_img h2:hover {
  color: #f25e5e;
  cursor: pointer;
}


.card_user_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
  margin-top: 23px;
  margin-bottom: 28px;
}

.card_user_photo {
  display: flex;
  align-items: center;
  gap: 28px;
}

.card_content .card_user_info .card_user_photos p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: red;
  margin-bottom: 30px;
}

.card_content a {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.24em;
  text-align: left;
  color: #4ce0d7;
  text-decoration: none;
  padding-top: 30px;
}
